@{
    Layout = "_Layout";
}
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: aliceblue;
        text-align: center;
    }
</style>

<body>
    <div class="footer">
        <h2>Kaan Mol</h2>
    </div>

</body>
